In [9]:
# Import all neccessary libraries

from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests

In [10]:
# Assign the URL to a variable

url = "https://www12.statcan.gc.ca/census-recensement/2021/dp-pd/prof/details/page.cfm?Lang=E&SearchText=M1C&DGUIDlist=2021A0011M1C&GENDERlist=1,2,3&STATISTIClist=1,4&HEADERlist=0"

# use the urlopen function to open the webpage
html = urllib.request.urlopen(url)

# show object html
html

In [11]:
# Create the BeautifulSoup object

html_to_parse = BeautifulSoup(html, "html.parser")

In [12]:
# create a list of tables.  There is only 1 table in this webpage

tables = html_to_parse.find_all("table")
print(f"Number of tables found: {len(tables)}")

Number of tables found: 1

In [13]:
toronto_DF = pd.read_csv('postalcode.csv')

In [15]:
import urllib.parse as urlparse
from urllib.parse import urlencode

In [19]:
def scrape_census_data(postal_codes, data_points):
    """
    Scrape multiple census data points and women's age data for given postal codes
    
    Parameters:
    postal_codes (list): List of postal codes to scrape
    data_points (dict): Dictionary of data points to collect, where key is column name
                       and value is the title text to search for
    
    Returns:
    pandas.DataFrame: DataFrame containing all collected data
    """
    
    # Define the age ranges we want to collect
    age_ranges = [
        "20 to 24 years - Counts - Women＋",
        "25 to 29 years - Counts - Women＋",
        "30 to 34 years - Counts - Women＋",
        "35 to 39 years - Counts - Women＋"
    ]
    
    # Create empty DataFrame with columns for regular data points and women's age data
    columns = ['postal_code'] + list(data_points.keys()) + ['women_20_39']
    df = pd.DataFrame(columns=columns)
    
    # Loop through each postal code
    for postal_code in postal_codes:
        print(f"\nProcessing postal code: {postal_code}")
        
        # Construct the URL for general data
        url = "https://www12.statcan.gc.ca/census-recensement/2021/dp-pd/prof/details/page.cfm?Lang=E"
        params = {
            'SearchText': postal_code,
            'DGUIDlist': f'2021A0011{postal_code}',
            'GENDERlist': '1,2,3',
            'STATISTIClist': '1',
            'HEADERlist': '0'
        }
        
        # Build the full URL
        url_parts = list(urlparse.urlparse(url))
        query = dict(urlparse.parse_qsl(url_parts[4]))
        query.update(params)
        url_parts[4] = urlencode(query)
        query = urlparse.urlunparse(url_parts)
        
        try:
            # Get the webpage content
            html = urllib.request.urlopen(query)
            html_to_parse = BeautifulSoup(html, "html.parser")
            tables = html_to_parse.find_all("table")
            
            if not tables:
                print(f"No tables found for postal code {postal_code}")
                continue
            
            # Initialize row data with postal code
            row_data = {'postal_code': postal_code}
            
            # Collect general data points
            for column_name, title_text in data_points.items():
                try:
                    # Find the cell with the specified title
                    title = f"2021A0011{postal_code} - {title_text}"
                    td = tables[0].find(attrs={"title": title})
                    
                    if td:
                        # Convert the value to float, removing commas and $ signs
                        value = td.text.strip().replace(",", "").replace("$", "")
                        # Handle percentage values
                        if "%" in value:
                            value = value.replace("%", "")
                        value = float(value)
                        row_data[column_name] = value
                        print(f"Found {column_name}: {value}")
                    else:
                        print(f"Data point '{title_text}' not found for {postal_code}")
                        row_data[column_name] = None
                        
                except Exception as e:
                    print(f"Error processing {title_text} for {postal_code}: {str(e)}")
                    row_data[column_name] = None
            
            # Collect women's age data
            women_sum = 0
            for age_range in age_ranges:
                try:
                    # Find the cell with the specified title for women's count
                    td = tables[0].find(
                        "td",
                        attrs={
                            "headers": lambda x: x and f"geo2021A0011{postal_code}stat1gen3" in x,
                            "title": lambda x: x and age_range in x
                        }
                    )
                    
                    if td:
                        value = float(td.text.strip().replace(",", ""))
                        women_sum += value
                        print(f"Found {value} women for {age_range}")
                    else:
                        print(f"Age range '{age_range}' not found")
                        
                except Exception as e:
                    print(f"Error processing {age_range}: {str(e)}")
            
            row_data['women_20_39'] = women_sum
            
            # Add the row to the DataFrame
            df.loc[len(df.index)] = row_data
            
        except Exception as e:
            print(f"Error processing postal code {postal_code}: {str(e)}")
            continue
    
    return df

In [23]:
# Define the data points to collect
census_data_points = {
    'total_population': 'Population, 2021 - Counts - Total',
    'average_income_women': 'Average total income in 2020 among recipients ($) - Counts - Women＋',
    'average_age_women': 'Average age of the population - Counts - Women＋'
}

# Get postal codes from your CSV file
postal_codes = toronto_DF['Postalcode'].tolist()

# Run the scraper
census_df = scrape_census_data(postal_codes, census_data_points)  # Testing with first 5 postal codes

Processing postal code: M1B
Found total_population: 65555.0
Found average_income_women: 38360.0
Found average_age_women: 41.9
Found 2390.0 women for 20 to 24 years - Counts - Women＋
Found 2575.0 women for 25 to 29 years - Counts - Women＋
Found 2355.0 women for 30 to 34 years - Counts - Women＋
Found 2140.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M1C
Found total_population: 35642.0
Found average_income_women: 52100.0
Found average_age_women: 44.3
Found 1195.0 women for 20 to 24 years - Counts - Women＋
Found 1055.0 women for 25 to 29 years - Counts - Women＋
Found 900.0 women for 30 to 34 years - Counts - Women＋
Found 1020.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M1E
Found total_population: 48033.0
Found average_income_women: 42320.0
Found average_age_women: 43.1
Found 1635.0 women for 20 to 24 years - Counts - Women＋
Found 1620.0 women for 25 to 29 years - Counts - Women＋
Found 1555.0 women for 30 to 34 years - Counts - Women＋
Found 1525.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M1G
Found total_population: 30894.0
Found average_income_women: 35720.0
Found average_age_women: 40.3
Found 1165.0 women for 20 to 24 years - Counts - Women＋
Found 1310.0 women for 25 to 29 years - Counts - Women＋
Found 1105.0 women for 30 to 34 years - Counts - Women＋
Found 1015.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M1H
Found total_population: 23964.0
Found average_income_women: 38400.0
Found average_age_women: 42.1
Found 825.0 women for 20 to 24 years - Counts - Women＋
Found 1095.0 women for 25 to 29 years - Counts - Women＋
Found 1010.0 women for 30 to 34 years - Counts - Women＋
Found 855.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M1J
Found total_population: 37002.0
Found average_income_women: 37960.0
Found average_age_women: 40.5
Found 1315.0 women for 20 to 24 years - Counts - Women＋
Found 1385.0 women for 25 to 29 years - Counts - Women＋
Found 1335.0 women for 30 to 34 years - Counts - Women＋
Found 1320.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M1K
Found total_population: 48175.0
Found average_income_women: 38320.0
Found average_age_women: 41.8
Found 1555.0 women for 20 to 24 years - Counts - Women＋
Found 1685.0 women for 25 to 29 years - Counts - Women＋
Found 1825.0 women for 30 to 34 years - Counts - Women＋
Found 1710.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M1L
Found total_population: 35833.0
Found average_income_women: 41720.0
Found average_age_women: 40.6
Found 1055.0 women for 20 to 24 years - Counts - Women＋
Found 1115.0 women for 25 to 29 years - Counts - Women＋
Found 1360.0 women for 30 to 34 years - Counts - Women＋
Found 1445.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M1M
Found total_population: 23258.0
Found average_income_women: 46240.0
Found average_age_women: 44.1
Found 715.0 women for 20 to 24 years - Counts - Women＋
Found 690.0 women for 25 to 29 years - Counts - Women＋
Found 615.0 women for 30 to 34 years - Counts - Women＋
Found 715.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M1N
Found total_population: 22976.0
Found average_income_women: 58700.0
Found average_age_women: 44.2
Found 565.0 women for 20 to 24 years - Counts - Women＋
Found 650.0 women for 25 to 29 years - Counts - Women＋
Found 710.0 women for 30 to 34 years - Counts - Women＋
Found 745.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M1P
Found total_population: 45170.0
Found average_income_women: 38040.0
Found average_age_women: 42.9
Found 1660.0 women for 20 to 24 years - Counts - Women＋
Found 1795.0 women for 25 to 29 years - Counts - Women＋
Found 1690.0 women for 30 to 34 years - Counts - Women＋
Found 1560.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M1R
Found total_population: 30467.0
Found average_income_women: 40920.0
Found average_age_women: 43.3
Found 985.0 women for 20 to 24 years - Counts - Women＋
Found 1085.0 women for 25 to 29 years - Counts - Women＋
Found 1010.0 women for 30 to 34 years - Counts - Women＋
Found 1045.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M1S
Found total_population: 37663.0
Found average_income_women: 38160.0
Found average_age_women: 46.3
Found 1270.0 women for 20 to 24 years - Counts - Women＋
Found 1510.0 women for 25 to 29 years - Counts - Women＋
Found 1420.0 women for 30 to 34 years - Counts - Women＋
Found 1180.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M1T
Found total_population: 34607.0
Found average_income_women: 38720.0
Found average_age_women: 46.7
Found 1065.0 women for 20 to 24 years - Counts - Women＋
Found 1215.0 women for 25 to 29 years - Counts - Women＋
Found 1130.0 women for 30 to 34 years - Counts - Women＋
Found 1100.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M1V
Found total_population: 50825.0
Found average_income_women: 35720.0
Found average_age_women: 45.9
Found 1505.0 women for 20 to 24 years - Counts - Women＋
Found 1625.0 women for 25 to 29 years - Counts - Women＋
Found 1670.0 women for 30 to 34 years - Counts - Women＋
Found 1655.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M1W
Found total_population: 47070.0
Found average_income_women: 39480.0
Found average_age_women: 47.6
Found 1315.0 women for 20 to 24 years - Counts - Women＋
Found 1515.0 women for 25 to 29 years - Counts - Women＋
Found 1375.0 women for 30 to 34 years - Counts - Women＋
Found 1405.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M1X
Found total_population: 14810.0
Found average_income_women: 38520.0
Found average_age_women: 39.9
Found 640.0 women for 20 to 24 years - Counts - Women＋
Found 555.0 women for 25 to 29 years - Counts - Women＋
Found 500.0 women for 30 to 34 years - Counts - Women＋
Found 450.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M2H
Found total_population: 23396.0
Found average_income_women: 45600.0
Found average_age_women: 47.9
Found 720.0 women for 20 to 24 years - Counts - Women＋
Found 775.0 women for 25 to 29 years - Counts - Women＋
Found 660.0 women for 30 to 34 years - Counts - Women＋
Found 645.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M2J
Found total_population: 61761.0
Found average_income_women: 43400.0
Found average_age_women: 42.3
Found 2090.0 women for 20 to 24 years - Counts - Women＋
Found 3045.0 women for 25 to 29 years - Counts - Women＋
Found 2915.0 women for 30 to 34 years - Counts - Women＋
Found 2405.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M2K
Found total_population: 25377.0
Found average_income_women: 55050.0
Found average_age_women: 45.2
Found 785.0 women for 20 to 24 years - Counts - Women＋
Found 1310.0 women for 25 to 29 years - Counts - Women＋
Found 1415.0 women for 30 to 34 years - Counts - Women＋
Found 1115.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M2L
Found total_population: 11274.0
Found average_income_women: 81300.0
Found average_age_women: 45.3
Found 365.0 women for 20 to 24 years - Counts - Women＋
Found 315.0 women for 25 to 29 years - Counts - Women＋
Found 300.0 women for 30 to 34 years - Counts - Women＋
Found 265.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M2M
Found total_population: 31915.0
Found average_income_women: 44840.0
Found average_age_women: 46.8
Found 1065.0 women for 20 to 24 years - Counts - Women＋
Found 1390.0 women for 25 to 29 years - Counts - Women＋
Found 1285.0 women for 30 to 34 years - Counts - Women＋
Found 1045.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M2N
Found total_population: 75100.0
Found average_income_women: 51200.0
Found average_age_women: 42.5
Found 2560.0 women for 20 to 24 years - Counts - Women＋
Found 4270.0 women for 25 to 29 years - Counts - Women＋
Found 4350.0 women for 30 to 34 years - Counts - Women＋
Found 3265.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M2P
Found total_population: 7546.0
Found average_income_women: 77000.0
Found average_age_women: 45.2
Found 220.0 women for 20 to 24 years - Counts - Women＋
Found 170.0 women for 25 to 29 years - Counts - Women＋
Found 190.0 women for 30 to 34 years - Counts - Women＋
Found 210.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M2R
Found total_population: 40581.0
Found average_income_women: 42000.0
Found average_age_women: 45.5
Found 1290.0 women for 20 to 24 years - Counts - Women＋
Found 1345.0 women for 25 to 29 years - Counts - Women＋
Found 1265.0 women for 30 to 34 years - Counts - Women＋
Found 1445.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M3A
Found total_population: 34361.0
Found average_income_women: 48600.0
Found average_age_women: 42.6
Found 1115.0 women for 20 to 24 years - Counts - Women＋
Found 1215.0 women for 25 to 29 years - Counts - Women＋
Found 1225.0 women for 30 to 34 years - Counts - Women＋
Found 1200.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M3B
Found total_population: 12880.0
Found average_income_women: 83100.0
Found average_age_women: 47.1
Found 355.0 women for 20 to 24 years - Counts - Women＋
Found 260.0 women for 25 to 29 years - Counts - Women＋
Found 250.0 women for 30 to 34 years - Counts - Women＋
Found 350.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M3C
Found total_population: 39616.0
Found average_income_women: 43760.0
Found average_age_women: 43.5
Found 1110.0 women for 20 to 24 years - Counts - Women＋
Found 1480.0 women for 25 to 29 years - Counts - Women＋
Found 1580.0 women for 30 to 34 years - Counts - Women＋
Found 1460.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M3H
Found total_population: 38416.0
Found average_income_women: 54400.0
Found average_age_women: 42.3
Found 1255.0 women for 20 to 24 years - Counts - Women＋
Found 1335.0 women for 25 to 29 years - Counts - Women＋
Found 1370.0 women for 30 to 34 years - Counts - Women＋
Found 1490.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M3J
Found total_population: 26600.0
Found average_income_women: 37360.0
Found average_age_women: 40.7
Found 1360.0 women for 20 to 24 years - Counts - Women＋
Found 1285.0 women for 25 to 29 years - Counts - Women＋
Found 1010.0 women for 30 to 34 years - Counts - Women＋
Found 935.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M3K
Found total_population: 7865.0
Found average_income_women: 45320.0
Found average_age_women: 41.7
Found 235.0 women for 20 to 24 years - Counts - Women＋
Found 350.0 women for 25 to 29 years - Counts - Women＋
Found 325.0 women for 30 to 34 years - Counts - Women＋
Found 305.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M3L
Found total_population: 19263.0
Found average_income_women: 36120.0
Found average_age_women: 41.8
Found 705.0 women for 20 to 24 years - Counts - Women＋
Found 625.0 women for 25 to 29 years - Counts - Women＋
Found 605.0 women for 30 to 34 years - Counts - Women＋
Found 685.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M3M
Found total_population: 24906.0
Found average_income_women: 37720.0
Found average_age_women: 42.2
Found 845.0 women for 20 to 24 years - Counts - Women＋
Found 950.0 women for 25 to 29 years - Counts - Women＋
Found 850.0 women for 30 to 34 years - Counts - Women＋
Found 930.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M3N
Found total_population: 40846.0
Found average_income_women: 33120.0
Found average_age_women: 40.3
Found 1555.0 women for 20 to 24 years - Counts - Women＋
Found 1445.0 women for 25 to 29 years - Counts - Women＋
Found 1355.0 women for 30 to 34 years - Counts - Women＋
Found 1470.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4A
Found total_population: 14589.0
Found average_income_women: 43200.0
Found average_age_women: 45.9
Found 410.0 women for 20 to 24 years - Counts - Women＋
Found 475.0 women for 25 to 29 years - Counts - Women＋
Found 490.0 women for 30 to 34 years - Counts - Women＋
Found 490.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4B
Found total_population: 18612.0
Found average_income_women: 51800.0
Found average_age_women: 43.7
Found 520.0 women for 20 to 24 years - Counts - Women＋
Found 600.0 women for 25 to 29 years - Counts - Women＋
Found 620.0 women for 30 to 34 years - Counts - Women＋
Found 625.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4C
Found total_population: 46440.0
Found average_income_women: 50480.0
Found average_age_women: 41.2
Found 1045.0 women for 20 to 24 years - Counts - Women＋
Found 1415.0 women for 25 to 29 years - Counts - Women＋
Found 1920.0 women for 30 to 34 years - Counts - Women＋
Found 2095.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4E
Found total_population: 25473.0
Found average_income_women: 74200.0
Found average_age_women: 41.8
Found 560.0 women for 20 to 24 years - Counts - Women＋
Found 595.0 women for 25 to 29 years - Counts - Women＋
Found 825.0 women for 30 to 34 years - Counts - Women＋
Found 1045.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4G
Found total_population: 19598.0
Found average_income_women: 94300.0
Found average_age_women: 44.1
Found 530.0 women for 20 to 24 years - Counts - Women＋
Found 390.0 women for 25 to 29 years - Counts - Women＋
Found 555.0 women for 30 to 34 years - Counts - Women＋
Found 590.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4H
Found total_population: 18698.0
Found average_income_women: 31440.0
Found average_age_women: 37.0
Found 540.0 women for 20 to 24 years - Counts - Women＋
Found 610.0 women for 25 to 29 years - Counts - Women＋
Found 735.0 women for 30 to 34 years - Counts - Women＋
Found 740.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4J
Found total_population: 35128.0
Found average_income_women: 58500.0
Found average_age_women: 42.5
Found 800.0 women for 20 to 24 years - Counts - Women＋
Found 975.0 women for 25 to 29 years - Counts - Women＋
Found 1260.0 women for 30 to 34 years - Counts - Women＋
Found 1445.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4K
Found total_population: 30913.0
Found average_income_women: 67200.0
Found average_age_women: 43.9
Found 705.0 women for 20 to 24 years - Counts - Women＋
Found 970.0 women for 25 to 29 years - Counts - Women＋
Found 1165.0 women for 30 to 34 years - Counts - Women＋
Found 1285.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4L
Found total_population: 32218.0
Found average_income_women: 68300.0
Found average_age_women: 40.7
Found 630.0 women for 20 to 24 years - Counts - Women＋
Found 865.0 women for 25 to 29 years - Counts - Women＋
Found 1390.0 women for 30 to 34 years - Counts - Women＋
Found 1505.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4M
Found total_population: 25052.0
Found average_income_women: 66900.0
Found average_age_women: 40.6
Found 540.0 women for 20 to 24 years - Counts - Women＋
Found 1130.0 women for 25 to 29 years - Counts - Women＋
Found 1475.0 women for 30 to 34 years - Counts - Women＋
Found 1275.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4N
Found total_population: 16058.0
Found average_income_women: 114600.0
Found average_age_women: 47.1
Found 420.0 women for 20 to 24 years - Counts - Women＋
Found 350.0 women for 25 to 29 years - Counts - Women＋
Found 450.0 women for 30 to 34 years - Counts - Women＋
Found 410.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4P
Found total_population: 25057.0
Found average_income_women: 62500.0
Found average_age_women: 41.4
Found 810.0 women for 20 to 24 years - Counts - Women＋
Found 1715.0 women for 25 to 29 years - Counts - Women＋
Found 1785.0 women for 30 to 34 years - Counts - Women＋
Found 1295.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4R
Found total_population: 11909.0
Found average_income_women: 82600.0
Found average_age_women: 42.1
Found 335.0 women for 20 to 24 years - Counts - Women＋
Found 445.0 women for 25 to 29 years - Counts - Women＋
Found 510.0 women for 30 to 34 years - Counts - Women＋
Found 410.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4S
Found total_population: 30754.0
Found average_income_women: 67900.0
Found average_age_women: 42.3
Found 780.0 women for 20 to 24 years - Counts - Women＋
Found 1755.0 women for 25 to 29 years - Counts - Women＋
Found 2030.0 women for 30 to 34 years - Counts - Women＋
Found 1520.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4T
Found total_population: 10332.0
Found average_income_women: 130800.0
Found average_age_women: 47.4
Found 260.0 women for 20 to 24 years - Counts - Women＋
Found 315.0 women for 25 to 29 years - Counts - Women＋
Found 355.0 women for 30 to 34 years - Counts - Women＋
Found 400.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4V
Found total_population: 19273.0
Found average_income_women: 95900.0
Found average_age_women: 47.4
Found 465.0 women for 20 to 24 years - Counts - Women＋
Found 895.0 women for 25 to 29 years - Counts - Women＋
Found 1025.0 women for 30 to 34 years - Counts - Women＋
Found 770.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4W
Found total_population: 15296.0
Found average_income_women: 109500.0
Found average_age_women: 45.8
Found 625.0 women for 20 to 24 years - Counts - Women＋
Found 710.0 women for 25 to 29 years - Counts - Women＋
Found 680.0 women for 30 to 34 years - Counts - Women＋
Found 510.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4X
Found total_population: 19896.0
Found average_income_women: 43960.0
Found average_age_women: 41.3
Found 635.0 women for 20 to 24 years - Counts - Women＋
Found 840.0 women for 25 to 29 years - Counts - Women＋
Found 935.0 women for 30 to 34 years - Counts - Women＋
Found 800.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M4Y
Found total_population: 36319.0
Found average_income_women: 51450.0
Found average_age_women: 37.2
Found 2890.0 women for 20 to 24 years - Counts - Women＋
Found 3295.0 women for 25 to 29 years - Counts - Women＋
Found 2435.0 women for 30 to 34 years - Counts - Women＋
Found 1340.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M5A
Found total_population: 48978.0
Found average_income_women: 57900.0
Found average_age_women: 39.6
Found 1770.0 women for 20 to 24 years - Counts - Women＋
Found 3130.0 women for 25 to 29 years - Counts - Women＋
Found 3325.0 women for 30 to 34 years - Counts - Women＋
Found 2410.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M5B
Found total_population: 17422.0
Found average_income_women: 47920.0
Found average_age_women: 36.1
Found 1595.0 women for 20 to 24 years - Counts - Women＋
Found 1705.0 women for 25 to 29 years - Counts - Women＋
Found 1175.0 women for 30 to 34 years - Counts - Women＋
Found 630.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M5C
Found total_population: 3149.0
Found average_income_women: 69400.0
Found average_age_women: 40.2
Found 90.0 women for 20 to 24 years - Counts - Women＋
Found 275.0 women for 25 to 29 years - Counts - Women＋
Found 255.0 women for 30 to 34 years - Counts - Women＋
Found 170.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M5E
Found total_population: 11779.0
Found average_income_women: 77100.0
Found average_age_women: 40.4
Found 395.0 women for 20 to 24 years - Counts - Women＋
Found 1235.0 women for 25 to 29 years - Counts - Women＋
Found 1030.0 women for 30 to 34 years - Counts - Women＋
Found 605.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M5G
Found total_population: 9751.0
Found average_income_women: 52450.0

/tmp/ipykernel_52/819404319.py:110: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df.loc[len(df.index)] = row_data

No tables found for postal code M7R

Processing postal code: M7Y
No tables found for postal code M7Y

Processing postal code: M8V
Found total_population: 44144.0
Found average_income_women: 59200.0
Found average_age_women: 43.0
Found 1150.0 women for 20 to 24 years - Counts - Women＋
Found 2205.0 women for 25 to 29 years - Counts - Women＋
Found 2700.0 women for 30 to 34 years - Counts - Women＋
Found 2110.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M8W
Found total_population: 22381.0
Found average_income_women: 55150.0
Found average_age_women: 42.6
Found 520.0 women for 20 to 24 years - Counts - Women＋
Found 725.0 women for 25 to 29 years - Counts - Women＋
Found 1015.0 women for 30 to 34 years - Counts - Women＋
Found 950.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M8X
Found total_population: 10624.0
Found average_income_women: 85200.0
Found average_age_women: 49.3
Found 250.0 women for 20 to 24 years - Counts - Women＋
Found 215.0 women for 25 to 29 years - Counts - Women＋
Found 260.0 women for 30 to 34 years - Counts - Women＋
Found 250.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M8Y
Found total_population: 21986.0
Found average_income_women: 60950.0
Found average_age_women: 42.2
Found 515.0 women for 20 to 24 years - Counts - Women＋
Found 820.0 women for 25 to 29 years - Counts - Women＋
Found 975.0 women for 30 to 34 years - Counts - Women＋
Found 1010.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M8Z
Found total_population: 19312.0
Found average_income_women: 63400.0
Found average_age_women: 42.7
Found 445.0 women for 20 to 24 years - Counts - Women＋
Found 610.0 women for 25 to 29 years - Counts - Women＋
Found 710.0 women for 30 to 34 years - Counts - Women＋
Found 780.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M9A
Found total_population: 36642.0
Found average_income_women: 66100.0
Found average_age_women: 45.1
Found 1075.0 women for 20 to 24 years - Counts - Women＋
Found 1400.0 women for 25 to 29 years - Counts - Women＋
Found 1430.0 women for 30 to 34 years - Counts - Women＋
Found 1300.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M9B
Found total_population: 33236.0
Found average_income_women: 59400.0
Found average_age_women: 43.1
Found 940.0 women for 20 to 24 years - Counts - Women＋
Found 1080.0 women for 25 to 29 years - Counts - Women＋
Found 1200.0 women for 30 to 34 years - Counts - Women＋
Found 1230.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M9C
Found total_population: 38725.0
Found average_income_women: 51450.0
Found average_age_women: 46.4
Found 1040.0 women for 20 to 24 years - Counts - Women＋
Found 1235.0 women for 25 to 29 years - Counts - Women＋
Found 1270.0 women for 30 to 34 years - Counts - Women＋
Found 1380.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M9L
Found total_population: 11737.0
Found average_income_women: 34720.0
Found average_age_women: 43.6
Found 430.0 women for 20 to 24 years - Counts - Women＋
Found 450.0 women for 25 to 29 years - Counts - Women＋
Found 355.0 women for 30 to 34 years - Counts - Women＋
Found 335.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M9M
Found total_population: 24245.0
Found average_income_women: 37880.0
Found average_age_women: 40.0
Found 850.0 women for 20 to 24 years - Counts - Women＋
Found 905.0 women for 25 to 29 years - Counts - Women＋
Found 940.0 women for 30 to 34 years - Counts - Women＋
Found 940.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M9N
Found total_population: 26059.0
Found average_income_women: 40960.0
Found average_age_women: 41.4
Found 820.0 women for 20 to 24 years - Counts - Women＋
Found 905.0 women for 25 to 29 years - Counts - Women＋
Found 1035.0 women for 30 to 34 years - Counts - Women＋
Found 1035.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M9P
Found total_population: 20645.0
Found average_income_women: 50320.0
Found average_age_women: 46.5
Found 605.0 women for 20 to 24 years - Counts - Women＋
Found 555.0 women for 25 to 29 years - Counts - Women＋
Found 645.0 women for 30 to 34 years - Counts - Women＋
Found 700.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M9R
Found total_population: 33783.0
Found average_income_women: 43000.0
Found average_age_women: 43.2
Found 1055.0 women for 20 to 24 years - Counts - Women＋
Found 1090.0 women for 25 to 29 years - Counts - Women＋
Found 1105.0 women for 30 to 34 years - Counts - Women＋
Found 1145.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M9V
Found total_population: 53878.0
Found average_income_women: 34840.0
Found average_age_women: 40.2
Found 2185.0 women for 20 to 24 years - Counts - Women＋
Found 2260.0 women for 25 to 29 years - Counts - Women＋
Found 1750.0 women for 30 to 34 years - Counts - Women＋
Found 1780.0 women for 35 to 39 years - Counts - Women＋

Processing postal code: M9W
Found total_population: 40977.0
Found average_income_women: 39480.0
Found average_age_women: 41.8
Found 1440.0 women for 20 to 24 years - Counts - Women＋
Found 1805.0 women for 25 to 29 years - Counts - Women＋
Found 1520.0 women for 30 to 34 years - Counts - Women＋
Found 1420.0 women for 35 to 39 years - Counts - Women＋

Collected Census Data:
  postal_code  total_population  average_income_women  average_age_women  \
0         M1B           65555.0               38360.0               41.9
1         M1C           35642.0               52100.0               44.3
2         M1E           48033.0               42320.0               43.1
3         M1G           30894.0               35720.0               40.3
4         M1H           23964.0               38400.0               42.1

   women_20_39
0       9460.0
1       4170.0
2       6335.0
3       4595.0
4       3785.0

In [24]:
census_df

,postal_code,total_population,average_income_women,average_age_women,women_20_39
0,M1B,65555.0,38360.0,41.9,9460.0
1,M1C,35642.0,52100.0,44.3,4170.0
2,M1E,48033.0,42320.0,43.1,6335.0
3,M1G,30894.0,35720.0,40.3,4595.0
4,M1H,23964.0,38400.0,42.1,3785.0
...,...,...,...,...,...
92,M9N,26059.0,40960.0,41.4,3795.0
93,M9P,20645.0,50320.0,46.5,2505.0
94,M9R,33783.0,43000.0,43.2,4395.0
95,M9V,53878.0,34840.0,40.2,7975.0
96,M9W,40977.0,39480.0,41.8,6185.0

In [32]:
census_df = census_df.dropna()
census_df

,postal_code,total_population,average_income_women,average_age_women,women_20_39
0,M1B,65555.0,38360.0,41.9,9460.0
1,M1C,35642.0,52100.0,44.3,4170.0
2,M1E,48033.0,42320.0,43.1,6335.0
3,M1G,30894.0,35720.0,40.3,4595.0
4,M1H,23964.0,38400.0,42.1,3785.0
...,...,...,...,...,...
92,M9N,26059.0,40960.0,41.4,3795.0
93,M9P,20645.0,50320.0,46.5,2505.0
94,M9R,33783.0,43000.0,43.2,4395.0
95,M9V,53878.0,34840.0,40.2,7975.0
96,M9W,40977.0,39480.0,41.8,6185.0

In [33]:
census_df.to_csv('census.csv',index=False)